#root {
  margin: 0;
  text-align: center;
  font-family: monospace;
  color: white;
}

label {
  font-family: monospace;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
}

div, header, nav, main, section {
  display: flex;
  justify-content: center;
  text-align: center;
  
}

button {
  color: black;
  background-color: white;
}

.drop-shadow, main {
  filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.5))
}


*[wobble='1'] {
  animation: wobble .5s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
